{% extends 'gestion/base.html' %}

{% block title %}Tienda{%endblock%}

{% block content %}

    <div class="carrito">
        {% include 'carro/widget.html' %}
    </div>
    <div class="contenedor-productos">
        {% for producto in productos %}
            <div class="productos">
                <div class="caja-img">
                    <img src="{{producto.imagen.url}}" alt="" class="img-producto">
                </div>
                <div class="info">
                    <h5>{{producto.nombre}}</h5>
                    <p>{{producto.categoria}}</p>
                </div>
                <p class="precio">El precio es: ${{producto.precio}}</p>
                <div class="agregar_carrito">
                    <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-sm btn-success">Agregar al Carrito</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}