body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
    padding-bottom: 5em;
    background: url(../img/tienda.jpg) no-repeat center center fixed;
    background-size: cover;
}


/* LISTADO DE PRODUCTOS */

.contenedor-productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 10px 60px;
}

.productos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border: 2px solid #747474;
    border-radius: 20px;
    width: 250px;
    height: 400px;
    background-color: #fff;
}

.caja-img {
    display: flex;
    align-items: center;
    width: 220px;
    height: 400px;
}

.img-producto {
    width: 100%;
    border-radius: 20px;

}


.info {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.precio {
    text-align: center;
    margin-top: auto;
}

