<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'gestion/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'gestion/css/contacto.css' %}">
    <link rel="stylesheet" href="{% static 'servicios/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'servicios/img/tienda.jpg' %}">
    <title>{% block title %} {%endblock%}</title>
</head>

<body>
    {% include 'gestion/superior/barra.html' %}
        
    {% block content %} {% endblock %}

    {% include 'gestion/superior/footer.html' %}
</body>

</html>