{% extends 'gestion/base.html' %}

{% block title %}Servicios{%endblock%}

{% block content %}

    <div class="servicios">

        {% for servicio in servicios %}

            <div class="container">

                <img src="{{servicio.imagen.url}}" alt="" class="img">

                <div class="caja-texto">
                    <h1>Servicio: {{servicio.titulo}}</h1>
                    <h3>Contenido: {{servicio.contenido}}</h3>
                </div>


            </div>

        {% endfor %}

    </div>
{% endblock %}