{% extends 'gestion/base.html' %}

{% block title %}Formulario de Contacto{%endblock%}

{% block content %}
    <div class="container">
        
        <h1>Contáctenos</h1>
        
        {% if form.errors %}
            <p>Error al cargar</p>
        {% endif %}
        
        {% if valid %}
            <h1>Enviado correctamente</h1>
        {% endif %}

            <form action="" method="post" class="{% if valid %}hidden{% endif %}">{% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Enviar" class="input">
            </form>
        

        
    </div>
{% endblock %}
